name: Real world Dodcker build and push

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  python-version: 3.11      
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@va
            - uses: actions/setup-python@v4
              with:
               python-version: ${{env.python_version}} 
            - name: unit test
              run:  pytest  
            - name: build image
              run: docker build -t gweanqu0/portcicd .          

